{% extends "usertemp.html" %}
{% block body %}

<body>
	<form action="/userLRpst" method="POST">
	<h3 align="center">Logistic Regression</h3>
	  <table width="400"  align="center" class="table table-striped">
  <tbody>
    <tr>
      <td>Age&nbsp;</td>
      <td><input type="text" name="f1" class="form-control" required></td>
    </tr>
    <tr>
        <td>Sex&nbsp;</td>
      <td><select name="f2" class="form-control" required>
          <option></option>
          <option value="1">Male</option>
          <option value="0">Female</option></td>
    </tr>
    <tr>
      <td>Chest Pain&nbsp;</td>
      <td><input type="text" name="f3" class="form-control" required></td>
    </tr>
    <tr>
        <td>Trestbp&nbsp;</td>
      <td><input type="text" name="f4" class="form-control" required></td>
    </tr>
    <tr>
        <td>Cholestrol&nbsp;</td>
      <td><input type="text" name="f5" class="form-control" required></td>
    </tr>
    <tr>
        <td>Fbs&nbsp;</td>
      <td><input type="text" name="f6" class="form-control" required></td>
    </tr>
    <tr>
        <td>Rest Cg&nbsp;</td>
      <td><input type="text" name="f7" class="form-control" required></td>
    </tr>
    <tr>
            <td>Thalach&nbsp;</td>
      <td><input type="text" name="f8" class="form-control" required></td>
    </tr>
    <tr>
        <td>Exang&nbsp;</td>
      <td><input type="text" name="f9" class="form-control" required></td>
    </tr>
    <tr>
        <td>old peak&nbsp;</td>
      <td><input type="text" name="f10" class="form-control" required></td>
    </tr>
    <tr>
        <td>slope&nbsp;</td>
      <td><input type="text" name="f11" class="form-control" required></td>
    </tr>
    <tr>
        <td>CA&nbsp;</td>
      <td><input type="text" name="f12" class="form-control" required></td>
    </tr>
    <tr>
        <td>Thal&nbsp;</td>
      <td><input type="text" name="f13" class="form-control" required></td>
    </tr>
	   <tr>
        <td align="center"><input type="submit" name="check" value="Result" class="btn btn-success"></td>
      <td><input type="text" name="f14"  class="form-control" value={{ a }}></td>
    </tr>
  </tbody>
</table>

	</form>
</body>

{% endblock %}