{% extends "temp.html" %}
{% block body %}
<body>
	<form align="center" method="post" name="f">
		<table width="800" border="1" align="center" class="table table-danger">
  <tbody>
    <tr>
      <th scope="col">Sl No&nbsp;</th>
      <th scope="col">Name&nbsp;</th>
      <th scope="col">Image&nbsp;</th>
      <th scope="col">Contact&nbsp;</th>
        <th scope="col">Hospital&nbsp;</th>
        <th scope="col">Place&nbsp;</th>
      <th scope="col">Email&nbsp;</th>
      <th scope="col">Spacialization&nbsp;</th>

    </tr>
    {% for i in a%}
       <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['dname'] }}</td>
      <td><img src="../static/doctor_pic/{{ i['dimg'] }}" height="90" width="90"/></td>
      <td>{{ i['dphone'] }}&nbsp;</td>
           <td>{{ i['h_name'] }}&nbsp;</td>
            <td>{{ i['h_place'] }}&nbsp;</td>


      <td>&nbsp;{{ i['email'] }}</td>
      <td>&nbsp;{{ i['spec'] }}</td>

	  </tr>

	{% endfor %}
  </tbody>
</table>

			
	</form>
</body>
{% endblock %}

