{% extends "doctemp.html" %}
{% block body %}
<body>
<table width="400" border="0" align="center">
  <tbody>
    <tr>
		<td align="center"><h2>Tensor Flow</h2><br/><p>	TensorFlow is an open-source software library. TensorFlow was originally developed by researchers and engineers working on the Google Brain Team within Google’s Machine Intelligence research organization for the purposes of conducting machine learning and deep neural networks research, but the system is general enough to be applicable in a wide variety of other domains as well!<br/>

Let us first try to understand what the word TensorFlow actually mean!<br/>

TensorFlow is basically a software library for numerical computation using data flow graphs where:<br/>

nodes in the graph represent mathematical operations.<br/>
edges in the graph represent the multidimensional data arrays (called tensors) communicated between them. (Please note that tensor is the central unit of data in TensorFlow)..</p></td>
    </tr>
    <tr>
      <td>Accuracy of my prediction model is {{ a[0] }}%</td>
      
    </tr>
    <tr>
      <td>True Positive(TP score):{{ a[1] }} </td>
      
    </tr>
    <tr>
      <td>True Negative(TN score):{{ a[2] }} </td>
      
    </tr>
    <tr>
      <td>False Positive(FP score): {{ a[3] }}</td>
      
    </tr>
    <tr>
      <td>False Negative(FN score): {{ a[4] }}</td>
      
    </tr>
    <tr>
      <td>&nbsp;</td>
      
    </tr>
    <tr>
      <td>&nbsp;</td>
      
    </tr>
  </tbody>
</table>

</body>
{% endblock %}